@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.main {
    height: 100vh;
    width: 100%;
    background-color: lightgray;
}
.nav-1 {
    display: flex;
}


.nav {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}


.nav img {
    height: 40px;
    width: auto;
    margin-left: 20px;
}

.nav li {
    display: inline-block;
    list-style: none;
    margin: 8px 16px;
    font-weight: 600;
    text-transform: capitalize;

}

.nav li:hover {
    color: white;
    text-decoration: 1px solid underline;
}

.nav-2 i {
    font-size: 24px;
    margin: 0 12px;
    cursor: pointer;
}

.nav-2 i:hover{
    color: blue;
}

.content {
    height: calc(100% - 60px);
    width: 100%;
    position: relative;
}
