body {
    /* position: absolute; */
    background-color: rgba(105, 30, 105, 0.427);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card {
    position: absolute;
    margin: auto;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    

    width: 100%;
    max-width: 300px;
    height: 450px;

    background-color: purple;

    border-radius: 12px;
    padding: 12px;

    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);  

}

img {
    width: 100%;
    border-radius: 6px;
}
 p {
    font-weight: 400;
 }
