.main {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
 
.elements {
    border-radius: 12px;
    min-height: 400px;
    transition: 1s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}

.heading {
    font-family: system-ui;
    text-align: center;
    font-weight: 800;
    text-decoration: underline;
}