* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-image: url("bg-image.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calender-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 240px;
    height: auto;
    text-align: center;
    background-color: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    border: 1px solid white;
}

.month-name {
    padding: 8px 0 0 0;
    height: 46px;
    width: 100%;
    border-radius: 12px 12px 0 0;
    font-size: 24px;
    background-color: #fff;
    font-weight: 500;
}

.weekday {
    font-size: 20px;
    padding: 8px ;
    font-weight: 400;
}

.date-num {
    font-size: 90px;
    font-weight: 500;

}

.year {
    font-size: 20px;
    padding: 8px 8px 0 0;
    margin-bottom: 12px;

}
