body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    user-select: none;
}

.container h1 {
    text-transform: capitalize;
    text-decoration: 1px solid underline gray;
}

.container .timer {
    font-size: 70px;
    margin: 20px;
    border-radius: 16px;
    border: none;
    background-color: lightgray;
}

.button-wrapper {
    height: 45px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button-wrapper button {
    height: 40px;
    width: 80px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
}

#start {
    background-color: green;
    color: #fff;  
}

#reset {
    background-color: red;
    color: #fff;
}

.button-wrapper button:hover {
    background-color: #000 !important;
    color: #fff !important;
}